{% extends "base.html" %}
{% block content %}
<div class="col-lg-4 col-lg-offset-4">
  <h2>We are capturing your video now</h2>
  <p>Nonummy consectetuer quis minim in et, odio duis. Ut nulla et lobortis consequat ut molestie et crisare dolor delenit. Tincidunt et eum, praesent facilisi iusto commodo ex. Eu lobortis accumsan at eum consectetuer amet, ut accumsan iriure, ipsum iusto. Vulputate facilisi autem, nibh dignissim dolor nulla. Tincidunt autem ad blandit feugiat, exerci vel illum dolore duis dolor wisi ea nostrud nulla veniam suscipit hendrerit tation exerci commodo amet. Et ipsum elit, esse enim velit et lorem nulla dolore vulputate euismod sciurus dignissim?</p>
  <p>Ut hendrerit qui blandit, eros nostrud enim iriure veniam ullamcorper feugiat, ut sed lobortis ullamcorper, exerci nostrud dolore duis iriure esse. Iriuredolor dolore elit dolor, dignissim facilisi hendrerit volutpat velit blandit minim vulputate, delenit vero tation duis molestie consequatvel enim. Esse consequat magna iusto vel dolore aliquam. Luptatum iusto, facilisis minim eu lobortis hendrerit. Magna duis nisl velit sed qui.</p>
</div>
{% endblock %}
